.nehan-body {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; }

.fadein {
  opacity: 1; }

.responsivook-fadein {
  opacity: 1; }

.responsivook {
  margin-bottom: 2em; }

.responsivook-btn:first-child {
  margin-right: 20px; }

.nehan-wrap {
  margin-bottom: 1em; }

.nehan-wrap::after {
  content: ""; }

.responsivook-pager {
  text-align: center; }

.btn,
.btn a {
  text-decoration: none; }

.btn {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  white-space: nowrap;
  width: 40%;
  padding: .8em 1.5em;
  font-family: Open Sans, Helvetica,Arial,sans-serif;
  line-height: 18px;
  display: inline-block;
  zoom: 1;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear; }

.btn.sea {
  background-color: #08bc9a;
  border-color: #08bc9a;
  -webkit-box-shadow: 0 3px 0 #088d74;
  box-shadow: 0 3px 0 #088d74; }

.btn.sea:hover {
  background-color: #01a183; }

.btn.sea:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.dark-blue {
  background-color: #237fbc;
  border-color: #237fbc;
  -webkit-box-shadow: 0 3px 0 #1a5c87;
  box-shadow: 0 3px 0 #1a5c87; }

.btn.dark-blue:hover {
  background-color: #166ea8; }

.btn.dark-blue:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.rouge {
  background-color: #c0392b;
  border-color: #c0392b;
  -webkit-box-shadow: 0 3px 0 #8f2a1f;
  box-shadow: 0 3px 0 #8f2a1f; }

.btn.rouge:hover {
  background-color: #ac3420; }

.btn.rouge:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.dark {
  background-color: #2c3d51;
  border-color: #2c3d51;
  -webkit-box-shadow: 0 3px 0 #080c0f;
  box-shadow: 0 3px 0 #080c0f; }

.btn.dark:hover {
  background-color: #202d3d; }

.btn.dark:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.orange {
  background-color: #f59e00;
  border-color: #f59e00;
  -webkit-box-shadow: 0 3px 0 #b37401;
  box-shadow: 0 3px 0 #b37401; }

.btn.orange:hover {
  background-color: #dd9003; }

.btn.orange:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.sunflower {
  background-color: #f2c500;
  border-color: #f2c500;
  -webkit-box-shadow: 0 3px 0 #b19001;
  box-shadow: 0 3px 0 #b19001; }

.btn.sunflower:hover {
  background-color: #e3ba02; }

.btn.sunflower:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.red {
  background-color: #ea4f37;
  border-color: #ea4f37;
  -webkit-box-shadow: 0 3px 0 #b13825;
  box-shadow: 0 3px 0 #b13825; }

.btn.red:hover {
  background-color: #a53422; }

.btn.red:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.concrete {
  background-color: #7e8c8d;
  border-color: #7e8c8d;
  -webkit-box-shadow: 0 3px 0 #4e5b5c;
  box-shadow: 0 3px 0 #4e5b5c; }

.btn.concrete:hover {
  background-color: #6a7879; }

.btn.concrete:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn i {
  padding-right: 0.8em;
  line-height: 22px; }

.icon-only {
  padding: 1em; }

.icon-only i {
  padding-right: 0;
  font-size: 22px;
  line-height: 22px; }
